<%= form_for(@hotel) do |f| %>
	<p>This form contains <%= pluralize(@hotel.errors.count, "error") %></p>
	<ul>
	<% @hotel.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title, autofocus: true %>
	</p>
	<p>
		<%= f.label :body %>
	</p>
	<p>
		<%= f.text_area :body, cols: 30, rows: 10 %>
	</p>
	<p>
		<%= f.label :price %>
		<%= f.number_field :price %>
	</p>
	<p>
		<%= f.submit 'Submit', class: 'btn btn-info' %>
    </p>
<% end %>