<div class="jumbotron">
  <h1>Hello, Hotel Goers!</h1>
</div>
<div class="page-header">
  <h1>Hotels <small>Good Hotels</small></h1>
</div>

<h3><%= pluralize(@hotels.count, 'Hotels') %></h3>

<p>These are <%= @hotels.count %> lovely-jubbly hotels:</p>

<%= render partial: "hotels", object: @all_hotels, locals: {caption: "All Hotels"} %>
<%= render partial: "hotels", object: @unreviewed_hotels, locals: {caption: "Unreviewed Hotels"} %>
<%= render partial: "hotels", object: @reviewed_hotels, locals: {caption: "Reviewed Hotels"} %>

<div class="row">
	<div class="col-xs-3 col-xs-offset-3">
		<p><a class="btn btn-info" href="/restaurants" role="button">See some Restaurants</a></p>
	</div>
	<div class="col-xs-3">
		<p><a class="btn btn-primary" href="<%= new_hotel_path(@hotel) %>" role="button">Add a New Hotel</a></p>
	</div>
</div>

