<h3><%= pluralize(@hotels.count, 'Hotels') %></h3>

<p>These are <%= @hotels.count %> lovely-jubbly hotels:</p>

<table border="2px solid black">
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th>Price</th>
			<th>Posted On</th>
		</tr>
	</thead>
	<tbody>
		<% @hotels.each do |hotel| %>
		<tr>
			<td><%= link_to(hotel.title, hotel) %></td>
			<td><%= format_body(hotel) %></td>
			<td><%= format_price(hotel) %></td>
			<td><%= hotel.created_at.to_s(:short) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<p><a href="/restaurants">See some Restaurants</a></p>

