<h3>New Hotel</h3>

<%= form_for(@hotel) do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %>
	</p>
	<p>
		<%= f.text_area :body, cols: 30, rows: 10 %>
	</p>
	<p>
		<%= f.label :price %>
		<%= f.number_field :price %>
	</p>
	<p>
		<%= f.submit 'Add New Hotels', class: 'btn btn-info' %>
	</p>
<% end %>