<h3><%= @hotel.title %></h3>

<p><%= @hotel.body %></p>

<%= image_tag("Default Hotel.jpg", size: "300", alt: "This a a picture of the Hotel") %>

<%= link_to "Edit this Hotel", edit_hotel_path(@hotel), class: 'btn btn-info' %>

<%= link_to "Delete this Hotel", hotel_path(@hotel), method: :delete, data: {confirm: "Are you absolutely certain that you want to delete this hotel?"}, class: 'btn btn-info' %>

<%= link_to "Back to Hotels", hotels_path, class: 'btn btn-info' %>