<h3><%= @hotel.title %></h3>

<p><%= @hotel.body %></p>

<%= image_tag("Default Hotel.jpg", size: "300", alt: "This a a picture of the Hotel") %>

<%= link_to "Add a Review", new_hotel_review_path(@hotel) %> | 
<%= link_to "Back to Hotels", hotels_path %> | 
<%= link_to "Edit", edit_hotel_path(@hotel) %> | 
<%= link_to "Delete", hotel_path(@hotel), mehtod: :delete, data: {confirm: "Would you like to delete this?"} %>

<p>Reviews</p>

<%= render partial: "reviews/review", collection: @hotel.reviews %>